redis~=5.3.1
sqlalchemy~=2.0.43
pydantic~=2.11.7
celery~=5.5.3
pip~=25.1
amqp~=5.3.1
vine~=5.1.0
typing_extensions~=4.15.0
kombu~=5.5.4
billiard~=4.2.1
packaging~=23.2
urllib3~=2.4.0
click~=8.2.1
python-dateutil~=2.9.0.post0
click-repl~=0.3.0
Pygments~=2.19.2
click-plugins~=1.1.1.2
requests~=2.32.3
wcwidth~=0.1.9
six~=1.17.0
prompt_toolkit~=3.0.51